// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_comment{
  border: 1px solid #ccc;
  margin-top: 5px;
  float: left;
  padding: 5px;
  width: 68%;
  background-color: #f5f5f5;
}
#user_comment:hover{
  background-color: #fff;
}