// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_container{
  float: left;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 51%;
  height: 132px;
  overflow: hidden;
    text-overflow: ellipsis;
}
.post_container:hover{
  background-color: #edffef;
}
.video{
  float: left;
  width: 100%;
}
.comment{
    width:50%
}
.post_content{
  height: 55px;
  overflow: hidden;
    text-overflow: ellipsis;
    color: #4E4E4E;
}
.post_title{
    font-weight: bold;
    color: #4E4E4E;
}